@import "tailwindcss";

@layer base {
  body {
    @apply antialiased text-slate-800 bg-slate-50 tracking-tight;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  }

  :root.dark body {
    @apply text-slate-100 bg-slate-950;
  }
}

/* Custom premium scrollbar utility */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}